@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-box {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: black;
  width: 350px;
  height: 580px;
}

.form_logo {
  width: 250px;
  height: 125px;
  margin-left: 40px;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #107538;
  margin-bottom: 50px;
  margin-left: 80px;
  margin-top: 0;
}

.login-box #login_h1 {
  margin-left: 100px;
}

.login-box #signup_h1 {
  margin-left: 90px;
}

.login-box h4 {
  text-align: center;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #107538;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.form_btn {
  width: 100%;
  background: none;
  color: white;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 12px 0;
  border-radius: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
