// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button-new {
    width: 150px;
    background: none;
    color: white;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    margin: 12px 0;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background-color: #107538;
    border: 2px solid #107538;
}

#button-delete {
    margin-left: 20px;
    background-color: red;
    border: 2px solid red;
}

#button-edit {
    margin-left: 20px;
    background-color: blue;
    border: 2px solid blue;
}

.centered {
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.form_element {
    text-align: center;
    padding: 10px;
}

.form_element input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.form_element h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #107538;
    margin-bottom: 50px;
    margin-top: 0;
}

::placeholder {
    color: white;
}