// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: rgb(35, 36, 35);
  color: white;
}

#songs_table{
  background-color: inherit;
  width: 90%;
  margin-left: 5%;
  color: white;
  border-collapse: collapse;
}

#songs_table td{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#songs_table a{
  color: white;
  text-decoration: none;
}

#songs_table a:hover{
  text-decoration: underline;
}
