<div class="centered">
  <div class="form_element">
    <h1> Edit Playlist </h1>
  </div>

  <div class="form_element">
    <%= form_for @playlist do |f| %>
      <div class="textbox">
        <i class="fas fa-signature"></i>
        <%= f.text_field :name, :placeholder => "Name", :style => "color: white;" %><br>
      </div>
      <%= f.submit :class => "form_btn", :style => 'background-color: #107538; border: 2px solid #107538; margin-top: 20px; margin-left: 20px; color: white;' %>
    <% end %>
  </div>
</div>