<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br><br>

    <div class="header_cont">
      <h1>Playlists</h1>
      <br>
      <%= button_to "New playlist", new_playlist_path, :class => "button-new", method: :get %>
      <br>
      <% if current_user.playlists.empty? %>
        <h2>You don't have any playlists</h2>
        </div>
      <% else %>
      </div>
      <table class="tables">
        <thead>
          <tr>
            <th>Name</th>
            <th>Options</th>
          </tr>
        </thead>

        <tbody>
          <% current_user.playlists.each do |playlist| %>
            <tr>
              <td><%= playlist.name %></td>

              <td><%= link_to 'Show', playlist %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </body>
</html>
