<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <section>
      <article>
        <h1 class="title">Music for everyone.</h1>
        <h4 class="subtitle">Millions of songs. No credit card needed.</h4>
        <input class="btn" style="background-color: #107538; border: 2px solid #107538;" type="button" name="" value="GET SWEETBEAT FREE">
      </article>
    </section>

    <footer>
      <%= image_tag  "spotify.png", :class => "logo", :style => "margin-top:5vh; padding: 0 20px" %>
      <ul class="footer_ul">
        <li>COMPANY</li>
        <li>About</li>
        <li>Jobs</li>
        <li>For the Record</li>
      </ul>
      <ul class="footer_ul">
        <li>COMMUNITIES</li>
        <li>For Artists</li>
        <li>Developers</li>
        <li>Brands</li>
        <li>Investors</li>
        <li>Vendors</li>
      </ul>
      <ul class="footer_ul">
        <li>USEFUL LINKS</li>
        <li>Help</li>
        <li>Web Player</li>
      </ul>
    </footer>
  </body>
</html>



