<section>
  <article>
    <h1 class="title">Music for everyone.</h1>
    <h4 class="subtitle">Millions of songs. No credit card needed.</h4>
    <input class="btn" style="background-color: #107538; border: 2px solid #107538;" type="button" name="" value="GET SWEETBEAT FREE">
  </article>
</section>

<footer>
  <%= image_tag  "spotify.png", :class => "logo", :style => "margin-top:5vh; padding: 0 20px" %>
  <ul class="footer_ul">
    <li>COMPANY</li>
    <li>About</li>
    <li>Jobs</li>
    <li>For the Record</li>
  </ul>
  <ul class="footer_ul">
    <li>COMMUNITIES</li>
    <li>For Artists</li>
    <li>Developers</li>
    <li>Brands</li>
    <li>Investors</li>
    <li>Vendors</li>
  </ul>
  <ul class="footer_ul">
    <li>USEFUL LINKS</li>
    <li>Help</li>
    <li>Web Player</li>
  </ul>
</footer>



>>>>>>> 9eb20afcdb70976b9004097e739cf3d69402bbe6
